@green: #00788F;
@gray: #838A83;

body {
	font-family: "Trebuchet MS", sans;
	font-size: 14px;
}

// layout
.wrapper {
	width: 960px;
	margin: 0px auto;
	padding: 18px 0px 36px;
}

h1 {
	color: @green;
	font-size: 36px;
}

p, li {
	color: @gray;
	line-height: 1.4em;
}

article {
	h1 {
		font-size: 17px;
		margin-bottom: 24px;
	}
	p {
		width: 640px;
	}
	.mark {
		font-style: italic;
		margin-top: 36px;
		font-size: 18px;
	}
	.email, .email a {
		color: @green;
		font-size: 17px;
		font-weight: bold;
		text-decoration: none;
	}
}
